/* || Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 20px;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

/* || Card Styling */
.card {
    background: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.4s ease, color 0.4s ease;
}


/* || Typography */
h1 {
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 10px;
    margin-top: 20px;
}

p {
    margin-bottom: 10px;
}

ul {
    margin-left: 20px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #D896FF;
}

a:hover {
    color: #D896FF;
}


table {
    width: 100%;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}



th,
td {
    border: 1px solid #D896FF;
    padding: 8px;
}

th {
    background-color: #D896FF;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
textarea {
    padding: 8px;
    border: 1px solid #D896FF;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #D896FF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #D896FF;
}


.dark-mode .card {
    background-color: #1e1e1e;
    color: white;
}

.hidden {
    display: none;
}

footer {
    text-align: center;
}

#toggleSkills {
    border-radius: 10px;   /* Smooth corners */
}
